<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>ecomprocessing</name>
	<displayName><![CDATA[E-Comprocessing Payment Gateway]]></displayName>
	<version><![CDATA[2.1.5]]></version>
	<description><![CDATA[Accept payments through E-Comprocessing Payment Gateway - Genesis]]></description>
	<author><![CDATA[E-Comprocessing Ltd.]]></author>
	<tab><![CDATA[payments_gateways]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>
